<?xml version="1.0"?>
<!--
/**
 * GoMage.com
 *
 * GoMage Feed Pro M2
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2018 GoMage.com (https://www.gomage.com)
 * @author       GoMage.com
 * @license      https://www.gomage.com/licensing  Single domain license
 * @terms of use https://www.gomage.com/terms-of-use
 * @version      Release: 1.2.0
 * @since        Class available since Release 1.0.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="generateFeed" xsi:type="object">GoMage\Feed\Console\Command\GenerateCommand</item>
                <item name="uploadFeed" xsi:type="object">GoMage\Feed\Console\Command\UploadCommand</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="GoMage\Feed\Model\Logger\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="info" xsi:type="object">GoMage\Feed\Model\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="GoMage\Feed\Model\Generator">
        <arguments>
            <argument name="logger" xsi:type="object">GoMage\Feed\Model\Logger\Logger</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="gomage_feed_feed_listing_data_source" xsi:type="string">GoMage\Feed\Model\ResourceModel\Feed\Grid\Collection</item>
                <item name="gomage_feed_attribute_listing_data_source" xsi:type="string">GoMage\Feed\Model\ResourceModel\Attribute\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="GoMage\Feed\Model\ResourceModel\Feed\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">gomage_feed</argument>
            <argument name="eventPrefix" xsi:type="string">gomage_feed_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">gomage_feed_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">"GoMage\Feed\Model\ResourceModel\Feed</argument>
        </arguments>
    </type>
    <type name="GoMage\Feed\Model\ResourceModel\Attribute\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">gomage_feed_attribute</argument>
            <argument name="eventPrefix" xsi:type="string">gomage_feed_attribute_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">gomage_feed_attribute_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">GoMage\Feed\Model\ResourceModel\Attribute</argument>
        </arguments>
    </type>
    <virtualType name="GoMage\Feed\Ui\Component\DataProvider\Feed" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">GoMage\Feed\Model\ResourceModel\Feed</argument>
        </arguments>
    </virtualType>
    <virtualType name="GoMage\Feed\Ui\Component\DataProvider\Attribute" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">GoMage\Feed\Model\ResourceModel\Attribute</argument>
        </arguments>
    </virtualType>
    <type name="GoMage\Feed\Model\Mapper\Factory">
        <arguments>
            <argument name="customMappers" xsi:type="array">
                <item name="id" xsi:type="string">GoMage\Feed\Model\Mapper\Custom\ProductId</item>
                <item name="product_url" xsi:type="string">GoMage\Feed\Model\Mapper\Custom\ProductUrl</item>
                <item name="category_subcategory" xsi:type="string">GoMage\Feed\Model\Mapper\Custom\CategorySubcategory</item>
                <item name="category_ids" xsi:type="string">GoMage\Feed\Model\Mapper\Custom\CategoryIds</item>
                <item name="category" xsi:type="string">GoMage\Feed\Model\Mapper\Custom\Category</item>
            </argument>
        </arguments>
    </type>
</config>
