<?xml version="1.0"?>
<!--
/**
 * GoMage.com
 *
 * GoMage Feed Pro M2
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2020 GoMage.com (https://www.gomage.com)
 * @author       GoMage.com
 * @license      https://www.gomage.com/licensing  Single domain license
 * @terms of use https://www.gomage.com/terms-of-use
 * @version      Release: 1.3.0
 * @since        Class available since Release 1.0.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="GoMage_Feed::marketing_feed" title="GoMage Feeds" module="GoMage_Feed" sortOrder="100" parent="Magento_Backend::marketing" resource="GoMage_Feed::marketing_feed"/>
        <add id="GoMage_Feed::feeds" title="Manage Feeds" module="GoMage_Feed" parent="GoMage_Feed::marketing_feed" sortOrder="10" action="gomage_feed/feed/index" resource="GoMage_Feed::feeds"/>
        <add id="GoMage_Feed::attributes" title="Manage Dynamic Attributes" module="GoMage_Feed" parent="GoMage_Feed::marketing_feed" sortOrder="20" action="gomage_feed/attribute/index" resource="GoMage_Feed::attributes"/>
    </menu>
</config>
