<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="gomage_feed" frontName="gomage_feed">
            <module name="GoMage_Feed" />
        </route>
    </router>
</config>
