<?xml version="1.0"?>
<!--
/**
 * GoMage.com
 *
 * GoMage Feed Pro M2
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2021 GoMage.com (https://www.gomage.com)
 * @author       GoMage.com
 * @license      https://www.gomage.com/licensing  Single domain license
 * @terms of use https://www.gomage.com/terms-of-use
 * @version      Release: 1.4.0
 * @since        Class available since Release 1.0.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="gomage" translate="label" sortOrder="1000">
            <label>GoMage</label>
        </tab>
        <section id="gomage_feed" translate="label" type="text" sortOrder="100" showInDefault="1">
            <label>Feed Pro</label>
            <tab>gomage</tab>
            <resource>GoMage_Feed::config_feed</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General</label>
                <field id="greetings" type="text" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>GoMage\Feed\Block\Adminhtml\Config\General\Greetings</frontend_model>
                </field>
                <field id="feedback" type="text" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>GoMage\Feed\Block\Adminhtml\Config\General\Feedback</frontend_model>
                </field>
            </group>
            <group id="server" translate="label" type="text" sortOrder="30" showInDefault="1">
                <label>Server Configurations</label>
                <field id="memory_limit" translate="label comment" type="text" sortOrder="10" showInDefault="1">
                    <label>Memory Limit, Mb</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="upload_max_filesize" translate="label comment" type="text" sortOrder="20" showInDefault="1">
                    <label>Max Upload File Size, Mb</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="post_max_size" translate="label comment" type="text" sortOrder="30" showInDefault="1">
                    <label>Max Post Size, Mb</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="time_limit" translate="label comment" type="text" sortOrder="40" showInDefault="1">
                    <label>Execution time, seconds</label>
                    <comment>If set to zero, no time limit is imposed.</comment>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="feed_folder" translate="label comment" type="text" sortOrder="50" showInDefault="1">
                    <label>Folder to store feed files</label>
                    <comment>Inside the document root of Magento. If field is empty 'media' will be used</comment>
                    <validate>validate-data</validate>
                </field>
            </group>
            <group id="image" translate="label" type="text" sortOrder="60" showInDefault="1">
                <label>Image Settings</label>
                <field id="resize" translate="label" type="select" sortOrder="10" showInDefault="1">
                    <label>Resize Image</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="width" translate="label comment" type="text" sortOrder="20" showInDefault="1">
                    <label>Max Image Width, px</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="height" translate="label comment" type="text" sortOrder="30" showInDefault="1">
                    <label>Max Image Height, px</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
            </group>
        </section>
    </system>
</config>
